/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: 16px;
  background-color: #0A1930;
  color: #C9D4F3;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea:focus {
  outline: none;
}

input[type=password] {
  padding: 13px 45px 13px 15px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

._btn-header {
  border-radius: 5px;
  border: 2px solid #8694B1;
  padding: 10px 25px;
  color: #8694B1;
  transition: all 0.3s ease-in;
}
._btn-header:hover {
  border: 2px solid #64FDDC;
  color: #0A1930;
  background-color: #64FDDC;
}

._btn-not-auth {
  border-radius: 5px;
  background: #8694B1;
}

._title-1 {
  font-size: 54px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #C9D4F3;
}
@media screen and (max-width: 768px) {
  ._title-1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 480px) {
  ._title-1 {
    font-size: 36px;
  }
}

._title-2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  color: #C9D4F3;
}

._inverse-item {
  border-right: 0px none !important;
  border-left: 5px solid #64FDDC;
}

.none {
  display: none;
}

.page {
  /* .page__main-block */
  /* .page__couriers */
  /* .page__login */
  /* .page__registration */
  /* .page__recovery */
  /* .page__deposit */
  /* .page__account */
  /* .page__create-label */
  /* .page__orders */
  /* .page__faq */
  /* .page__payment-succsselful */
}
.page__main-block {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__main-block {
    margin-bottom: 70px;
  }
}
.page__couriers {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__couriers {
    margin-bottom: 70px;
  }
}
.page__login {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__login {
    margin-bottom: 70px;
  }
}
.page__registration {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__registration {
    margin-bottom: 70px;
  }
}
.page__recovery {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__recovery {
    margin-bottom: 70px;
  }
}
.page__deposit {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__deposit {
    margin-bottom: 70px;
  }
}
.page__account {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__account {
    margin-bottom: 70px;
  }
}
.page__create-label {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__create-label {
    margin-bottom: 70px;
  }
}
.page__orders {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__orders {
    margin-bottom: 70px;
  }
}
.page__faq {
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .page__faq {
    margin-bottom: 70px;
  }
}
.page-feedback {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* .page-feedback__payment-succsselful */
  /* .page-feedback__payment-failed */
}
.form-auth {
  /* .form-auth__items */
  /* .form-auth__item */
  /* .form-auth__desc */
  /* .form-auth__label */
  /* .form-auth__inp */
  /* .form-auth__inp-pass */
  /* .form-auth__eye */
  /* .form-auth__warning */
  /* .form-auth__warning-text */
  /* .form-auth__btn */
  /* .form-auth__forgot */
}
.form-auth__items > *:not(:last-child) {
  margin-bottom: 25px;
}
.form-auth__item {
  display: flex;
  flex-direction: column;
}
.form-auth__desc {
  margin-bottom: 35px;
}
.form-auth__label {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.form-auth__inp {
  padding: 13px 15px;
  width: 100%;
  border-radius: 5px;
  background: #C9D4F3;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #0A1930;
}
.form-auth__inp::-moz-placeholder {
  color: #8694B1;
}
.form-auth__inp::placeholder {
  color: #8694B1;
}
.form-auth__inp-pass {
  position: relative;
}
.form-auth__eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0px, -50%);
  margin-right: 15px;
  font-size: 14px;
  cursor: pointer;
}
.form-auth__warning {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #FF1D30;
  margin-top: 25px;
}
.form-auth__warning > *:not(:last-child) {
  margin-bottom: 15px;
}
.form-auth__btn {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #668EFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  transition: all 0.2s ease-in;
  margin-top: 35px;
}
.form-auth__btn:hover {
  background-color: #456fe4;
}
.form-auth__forgot {
  margin-top: 30px;
  text-align: center;
  color: #C9D4F3;
  transition: all 0.3s ease;
}
.form-auth__forgot:hover {
  color: #64FDDC;
}

/* Nav Icon */
body._touch .sidebar__nav-btn {
  display: block;
}

.sidebar__nav-btn {
  display: block;
  position: fixed;
  top: 140px;
  left: 110px;
  background-color: #142540;
  border-radius: 50%;
  padding: 10px;
  filter: drop-shadow(0px 4px 20px #111E32);
  transition: left 0.3s ease;
  cursor: pointer;
}
.sidebar__nav-btn._active {
  left: 320px;
}
@media screen and (max-width: 1450px) {
  .sidebar__nav-btn {
    left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .sidebar__nav-btn {
    top: 100px;
  }
  .sidebar__nav-btn._active {
    left: 260px;
  }
}

.nav-icon-btn {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  z-index: 10;
  width: 20px;
  height: 3px;
  background-color: #C9D4F3;
  border-radius: 10px;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #C9D4F3;
  border-radius: 20px;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
}

.nav-icon::before {
  top: -6px;
}

.nav-icon::after {
  top: 6px;
}

.nav-icon._active {
  background-color: transparent;
}

.nav-icon._active::before,
.nav-icon._active::after {
  top: 0;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}

.nav-icon._active::before {
  transform: rotate(45deg);
}

.nav-icon._active::after {
  transform: rotate(-45deg);
}

.header {
  margin-bottom: 20px;
  /* .header__container */
  /* .header__logo */
  /* .header__auth */
}
@media screen and (max-width: 480px) {
  .header {
    margin-bottom: 50px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15px;
}
@media screen and (max-width: 480px) {
  .header__container {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    width: 60px;
    height: 60px;
  }
}
.header__auth {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 480px) {
  .header__auth {
    gap: 15px;
  }
}

.headeer {
  /* .headeer__auth-btn */
}
.main-block {
  /* .main-block__container */
  /* .main-block__welcome */
  /* .main-block__title */
  /* .main-block__advantages */
  /* .main-block__btns */
  /* .main-block__btn */
  /* .main-block__btn-text */
  /* .main-block__btn-ico */
}
.main-block__welcome {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.main-block__welcome > span {
  color: #64FDDC;
}
@media screen and (max-width: 768px) {
  .main-block__welcome {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .main-block__welcome {
    font-size: 20px;
  }
}
.main-block__title {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .main-block__title {
    margin-bottom: 50px;
  }
}
.main-block__advantages {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .main-block__advantages {
    margin-bottom: 50px;
  }
}
.main-block__btns {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 510px) {
  .main-block__btns {
    flex-direction: column;
    align-items: center;
  }
}
.main-block__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 50px;
  color: #C9D4F3;
  font-weight: 500;
  line-height: normal;
  gap: 15px;
  transition: all 0.3s ease-in;
}
.main-block__btn:hover {
  background-color: #64FDDC;
  color: #0A1930;
}
@media screen and (max-width: 510px) {
  .main-block__btn {
    width: 100%;
  }
}
.advantages {
  /* .advantages__items */
  /* .advantages__item */
  /* .advantages__item-image */
  /* .advantages__item-text */
}
.advantages__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
@media screen and (max-width: 1239px) {
  .advantages__items {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media screen and (max-width: 480px) {
  .advantages__items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 31px;
  border-radius: 15px;
  gap: 25px;
  background-color: #142540;
}
.advantages__item-image {
  width: 100px;
  height: 100px;
}
.advantages__item-text {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.couriers {
  /* .couriers__container */
  /* .couriers__items */
  /* .couriers__item */
  /* .couriers__item-company */
  /* .couriers__item-company-image */
  /* .couriers__item-compeny-name */
  /* .couriers__item-price */
  /* .couriers__item-texts */
  /* .couriers__item-text */
  /* .couriers__item-link */
}
.couriers__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media screen and (max-width: 480px) {
  .couriers__items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
.couriers__item {
  padding: 50px;
  display: grid;
  grid-auto-flow: row;
  grid-template: auto auto auto 50px/1fr;
  border-radius: 30px;
  background-color: #142540;
}
@media screen and (max-width: 939px) {
  .couriers__item {
    text-align: center;
  }
}
.couriers__item-company {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1130px) {
  .couriers__item-company {
    gap: 40px;
  }
}
@media screen and (max-width: 939px) {
  .couriers__item-company {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.couriers__item-company-image {
  width: 125px;
  height: 83.333px;
}
.couriers__item-company-image > img {
  border-radius: 10px;
}
.couriers__item-compeny-name {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: center;
}
.couriers__item-price {
  font-weight: 400;
  line-height: normal;
  color: #fff;
  margin-bottom: 30px;
}
.couriers__item-price > span {
  color: #64FDDC;
}
.couriers__item-texts {
  font-weight: 400;
  line-height: normal;
  color: #8694B1;
  margin-bottom: 40px;
}
.couriers__item-texts > *:not(:last-child) {
  margin-bottom: 15px;
}
.couriers__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #C9D4F3;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-in;
  border-radius: 8px;
}
.couriers__item-link:hover {
  background-color: #64FDDC;
  color: #0A1930;
}

.login {
  /* .login__container */
  /* .login__title */
  /* .login__box */
  /* .login__form-auth */
  /* .login__sign-up */
}
.login__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .login__title {
    margin-bottom: 30px;
  }
}
.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
.login__form-auth {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  border-radius: 15px;
  background: #142540;
  max-width: 490px;
  width: 100%;
}
@media screen and (max-width: 510px) {
  .login__form-auth {
    padding: 50px;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 414px) {
  .login__form-auth {
    padding: 50px 30px;
  }
}
.login__sign-up {
  text-align: center;
}
.login__sign-up > a {
  color: #64FDDC;
}
.login__sign-up > a:hover {
  text-decoration: underline;
}

.registration {
  /* .registration__container */
  /* .registration__title */
  /* .registration__box */
  /* .registration__form-auth */
}
.registration__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .registration__title {
    margin-bottom: 30px;
  }
}
.registration__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
.registration__form-auth {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  border-radius: 15px;
  background: #142540;
  max-width: 490px;
  width: 100%;
}
@media screen and (max-width: 510px) {
  .registration__form-auth {
    padding: 50px;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 414px) {
  .registration__form-auth {
    padding: 50px 30px;
  }
}

.page {
  /* .page__recovey */
}
.recovey {
  /* .recovey__container */
  /* .recovey__title */
  /* .recovey__box */
  /* .recovey__form-auth */
}
.recovey__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .recovey__title {
    margin-bottom: 30px;
  }
}
.recovey__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
.recovey__form-auth {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  border-radius: 15px;
  background: #142540;
  max-width: 490px;
  width: 100%;
}
@media screen and (max-width: 510px) {
  .recovey__form-auth {
    padding: 50px;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 414px) {
  .recovey__form-auth {
    padding: 50px 30px;
  }
}

.form-auth {
  /* .form-auth__desc */
  /* .form-auth__items */
  /* .form-auth__item */
  /* .form-auth__label */
  /* .form-auth__inp */
  /* .form-auth__warning */
  /* .form-auth__warning-text */
  /* .form-auth__btn */
}
.header-authorized {
  margin-bottom: 20px;
  /* .header-authorized__container */
  /* .header-authorized__content */
  /* .header-authorized__balance */
  /* .header-authorized__balance-ico */
  /* .header-authorized__balance-text */
  /* .header-authorized__contact-us */
  /* .header-authorized__contact-us-text */
  /* .header-authorized__contact-us-icon */
}
.header-authorized__content {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media screen and (max-width: 480px) {
  .header-authorized__content {
    padding: 30px 15px;
  }
}
.header-authorized__balance {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #64FDDC;
}
@media screen and (max-width: 480px) {
  .header-authorized__balance {
    margin-right: 40px;
  }
}
.header-authorized__balance-ico {
  margin-right: 10px;
}
.header-authorized__contact-us {
  color: #8694B1;
  transition: all 0.3s ease;
}
.header-authorized__contact-us:hover {
  color: #64FDDC;
}
.header-authorized__contact-us-text {
  margin-right: 10px;
}
.account {
  /* .account__container */
  /* .account__title */
  /* .account__column */
  /* .account__username */
  /* .account__username-img */
  /* .account__username-text */
  /* .account__body */
  /* .account__inf */
  /* .account__inf-title */
  /* .account__inf-text */
  /* .account__inf-text-ico */
  /* .account__inf-text-score */
}
.account__title {
  margin-bottom: 50px;
}
.account__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
}
@media screen and (max-width: 720px) {
  .account__column {
    flex-direction: column;
    width: 100%;
  }
}
.account__username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 281px;
  background-color: #142540;
  border-radius: 15px;
}
@media screen and (max-width: 720px) {
  .account__username {
    width: 100%;
  }
}
.account__username-img {
  margin-bottom: 25px;
}
.account__username-text {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.account__body {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media screen and (max-width: 720px) {
  .account__body {
    width: 100%;
  }
}
.account__inf {
  padding: 0 35px;
  display: flex;
  align-items: center;
  height: 130px;
  background-color: #142540;
  border-radius: 15px;
}
@media screen and (min-width: 721px) {
  .account__inf {
    max-width: 450px;
  }
}
@media screen and (max-width: 720px) {
  .account__inf {
    padding: 0;
    justify-content: center;
  }
}
.account__inf-title {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-right: 15px;
}
@media screen and (max-width: 480px) {
  .account__inf-title {
    font-size: 18px;
    margin-right: 10px;
  }
}
.account__inf-text {
  font-size: 20px;
  display: flex;
  color: #64FDDC;
}
@media screen and (max-width: 480px) {
  .account__inf-text {
    font-size: 18px;
  }
}
.account__inf-text-ico {
  margin-right: 15px;
}
@media screen and (max-width: 480px) {
  .account__inf-text-ico {
    margin-right: 10px;
  }
}
.account__inf-text-score {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .account__inf-text-score {
    font-size: 18px;
  }
}

.sidebar {
  /* .sidebar__nav-btn */
}
.sidebar-mini {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #142540;
  z-index: 10;
  overflow: auto;
  /* .sidebar-mini__logo */
  /* .sidebar-mini__nav-mini */
}
@media screen and (max-width: 1450px) {
  .sidebar-mini {
    display: none;
  }
}
.sidebar-mini__logo {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
}
.sidebar-mini__logo > img {
  width: 60px;
  height: 60px;
}
.nav-mini {
  /* .nav-mini__list */
  /* .nav-mini__item */
  /* .nav-mini__link */
  /* .nav-mini__title */
}
.nav-mini__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-mini__item {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 5px solid #0A1930;
}
.nav-mini__item > *:not(:last-child) {
  margin-bottom: 30px;
}
.nav-mini__link {
  display: flex;
  gap: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #8694B1;
  transition: all 0.3s ease;
}
.nav-mini__link:hover {
  color: #64FDDC;
}
.nav-mini__link._active {
  color: #64FDDC !important;
}
.nav-mini__title {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.siderbar-open {
  position: fixed;
  top: 0;
  left: -40%;
  width: 300px;
  height: 100%;
  background-color: #142540;
  z-index: 40;
  transition: left 0.4s ease;
  overflow: auto;
  box-shadow: 0px 4px 20px 0px #111E32;
  /* .siderbar-open__logo */
  /* .siderbar-open__nav */
}
.siderbar-open._active {
  left: 0;
}
@media screen and (max-width: 1450px) {
  .siderbar-open {
    left: -100%;
  }
}
@media screen and (max-width: 480px) {
  .siderbar-open {
    width: 250px;
  }
}
.siderbar-open__logo {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.nav {
  /* .nav__list */
  /* .nav__item */
  /* .nav__link */
  /* .nav__link-ico */
  /* .nav__link-text */
  /* .nav__item-title */
}
.nav__list {
  display: flex;
  flex-direction: column;
}
.nav__item {
  padding: 30px;
  border-top: 5px solid #0A1930;
}
.nav__item > *:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .nav__item {
    width: 100%;
  }
}
.nav__link {
  display: flex;
  gap: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #8694B1;
  transition: all 0.3s ease;
}
.nav__link:hover {
  color: #64FDDC;
}
.nav__link._active {
  color: #64FDDC !important;
}
.nav__link-ico {
  font-size: 24px;
  width: 32px;
}
.nav__item-title {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.deposit {
  /* .deposit__container */
  /* .deposit__title */
  /* .deposit__payment */
  /* .deposit__additional-payment */
  /* .deposit__history */
}
.deposit__container {
  max-width: 1048px;
  padding: 0 15px;
  margin: 0 auto;
}
.deposit__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .deposit__title {
    margin-bottom: 30px;
  }
}
.deposit__payment {
  display: flex;
  align-items: center;
  min-height: 130px;
  border-radius: 15px;
  background-color: #142540;
  margin-bottom: 20px;
}
.deposit__additional-payment {
  margin-bottom: 35px;
}
.payment {
  /* .payment__body */
  /* .payment__method */
  /* .payment__method-title */
  /* .payment__method-btn */
  /* .payment__method-btn-ico */
  /* .payment__method-btn-text */
  /* .payment__form */
  /* .payment__form-amount */
  /* .payment__form-btn */
}
.payment__body {
  padding: 0 35px;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .payment__body {
    padding: 35px 20px;
    flex-direction: column;
    align-items: center;
  }
}
.payment__method {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .payment__method {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.payment__method-title {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 1051px) {
  .payment__method-title {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .payment__method-title {
    margin-bottom: 15px;
  }
}
.payment__method-btn {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-weight: 500;
  line-height: normal;
  color: #0A1930;
  border-radius: 5px;
  background: #C9D4F3;
}
@media screen and (min-width: 1051px) {
  .payment__method-btn {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1050px) {
  .payment__method-btn {
    margin-bottom: 30px;
    width: 100%;
    max-width: 354px;
  }
}
.payment__form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .payment__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .payment__form-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.payment__form-btn {
  padding: 13px 20px;
  border-radius: 5px;
  background: #8694B1;
  transition: all 0.3s ease-in;
}
.payment__form-btn:hover {
  background: #64FDDC;
  color: #0A1930;
}
@media screen and (max-width: 1050px) {
  .payment__form-btn {
    width: 100%;
    max-width: 354px;
  }
}

.amount-form {
  /* .amount-form__label */
  /* .amount-form__inp */
}
.amount-form__label {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 1051px) {
  .amount-form__label {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .amount-form__label {
    margin-bottom: 15px;
  }
}
.amount-form__inp {
  padding: 13px 15px;
  background: #C9D4F3;
  border-radius: 5px;
  text-align: center;
  color: #0A1930;
}
@media screen and (min-width: 1051px) {
  .amount-form__inp {
    margin-right: 35px;
  }
}
@media screen and (max-width: 1050px) {
  .amount-form__inp {
    margin-bottom: 40px;
    width: 100%;
    max-width: 354px;
  }
}

.additional-payment {
  /* .additional-payment__text */
}
.additional-payment__text a {
  color: #64FDDC;
}
.additional-payment__text a:hover {
  text-decoration: underline;
}

.history {
  /* .history__items */
  /* .history__item */
  /* .history__item-number */
  /* .history__item-amount */
  /* .history__item-status */
  /* .history__item-datetime */
  /* .history__item-number-title */
  /* .history__item-number-text */
  /* .history__item-amount-title */
  /* .history__item-amount-text */
  /* .history__item-status-title */
  /* .history__item-status-text */
  /* .history__item-datetime-title */
  /* .history__item-datetime-text */
}
.history__items > *:not(:last-child) {
  margin-bottom: 15px;
}
.history__item {
  padding: 13px 25px;
  display: grid;
  grid-template-columns: 15% 25% 35% 25%;
  align-items: center;
  background-color: #142540;
  border-radius: 10px;
}
.history__item._title-item {
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .history__item {
    padding: 0;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    width: 100%;
  }
  .history__item._hide-item {
    display: none;
  }
  .history__item > *:first-child {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 599px) {
  .history__item-number {
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: #142540;
  }
}
@media screen and (max-width: 599px) {
  .history__item-amount {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #142540;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (min-width: 600px) {
  .history__item-status {
    justify-self: start;
  }
}
@media screen and (max-width: 599px) {
  .history__item-status {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    background: #142540;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (max-width: 599px) {
  .history__item-datetime {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #142540;
  }
}
@media screen and (min-width: 600px) {
  .history__item-number-title {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .history__item-amount-title {
    display: none;
  }
}
.history__item-amount-text._amount {
  color: #64FDDC;
}
@media screen and (min-width: 600px) {
  .history__item-status-title {
    display: none;
  }
}
.history__item-status-text {
  border-radius: 5px;
  padding: 10px 15px;
}
.history__item-status-text._reg {
  border: 2px solid #FF7C1D;
  color: #FF7C1D;
}
.history__item-status-text._accept {
  border: 2px solid #64FDDC;
  color: #64FDDC;
}
.history__item-status-text._cancel {
  border: 2px solid #FF1D30;
  color: #FF1D30;
}
@media screen and (min-width: 600px) {
  .history__item-datetime-title {
    display: none;
  }
}
.pagination {
  margin-top: 40px;
}

.step-links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* .step-links__button-text */
  /* .step-links__button-arrow */
}
.step-links > .step-links__button-text:not(:last-child) {
  margin-right: 15px;
}
.step-links__button-text {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #142540;
  font-weight: 500;
  line-height: normal;
  color: #C9D4F3;
  transition: all 0.3s ease-in;
}
.step-links__button-text:hover {
  background-color: #64FDDC;
  color: #0A1930;
}
.step-links__button-arrow {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.current {
  margin-right: 15px;
  font-weight: 500;
  line-height: normal;
  padding: 10px 15px;
  border-radius: 5px;
  background: #142540;
}

._arrow-left {
  background: url("../img/icons/arrow-left.svg") no-repeat center;
}

._arrow-right {
  background: url("../img/icons/arrow-right.svg") no-repeat center;
}

.create-label {
  /* .create-label__container */
  /* .create-label__title */
  /* .create-label__form-auth */
}
.create-label__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-label__title {
  margin-bottom: 50px;
}
.create-label__form-auth {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  border-radius: 15px;
  background: #142540;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 510px) {
  .create-label__form-auth {
    padding: 50px;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 414px) {
  .create-label__form-auth {
    padding: 50px 30px;
  }
}

.form-auth {
  /* .form-auth__item-dropdown */
  /* .form-auth__item-desc */
  /* .form-auth__textarea */
  /* .form-auth__label-checkbox */
  /* .form-auth__item-checkbox */
  /* .form-auth__item-custom-checkbox */
}
.form-auth__item-desc {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #8694B1;
}
.form-auth__textarea {
  padding: 10px 15px;
  border-radius: 5px;
  background: #C9D4F3;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #0A1930;
}
.form-auth__textarea::-moz-placeholder {
  color: #8694B1;
}
.form-auth__textarea::placeholder {
  color: #8694B1;
}
.form-auth__item-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.form-auth__item-checkbox:checked + .form-auth__item-custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.form-auth__item-checkbox:checked + .form-auth__item-custom-checkbox {
  border: 1px solid #668EFF;
}
.form-auth__item-custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #C9D4F3;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
  margin-top: 1px;
}
.form-auth__item-custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 11px;
  background: url("../img/icons/check-mark.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
}

.dropdown {
  /* .dropdown__wrapper */
  /* .dropdown__btn */
  /* .dropdown__list */
  /* .dropdown__item */
  /* .dropdown__input-hidden */
}
.dropdown__wrapper {
  position: relative;
}
.dropdown__btn {
  position: relative;
  padding: 13px 35px 13px 15px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: #C9D4F3;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #0A1930;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: left;
}
.dropdown__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-70%) rotate(135deg);
  width: 12px;
  height: 12px;
  border-top: 3px solid #8694B1;
  border-right: 3px solid #8694B1;
  border-radius: 2px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.dropdown__list {
  display: none;
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #C9D4F3;
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(20, 37, 64, 0.4);
}
.dropdown__list > *:not(:last-child) {
  border-bottom: 2px solid #8694B1;
}
.dropdown__list > *:first-child {
  border-radius: 5px 5px 0 0;
}
.dropdown__list > *:last-child {
  border-radius: 0 0 5px 5px;
}
.dropdown__list._active {
  display: block;
}
.dropdown__item {
  padding: 13px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #0A1930;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dropdown__item:hover {
  background-color: #BBC9EE;
}
.dropdown__input-hidden {
  display: none;
}

.orders {
  /* .orders__container */
  /* .orders__title */
  /* .orders__filter */
  /* .orders__tasks */
}
.orders__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .orders__title {
    margin-bottom: 30px;
  }
}
.orders__filter {
  margin-bottom: 20px;
}
.orders__filter > form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .orders__filter > form {
    flex-direction: column;
  }
}
.orders-filter {
  /* .orders-filter__dropdown */
  /* .orders-filter__btns */
  /* .orders-filter__btn-search */
  /* .orders-filter__reset */
}
.orders-filter__dropdown {
  margin-right: 40px;
}
@media screen and (max-width: 850px) {
  .orders-filter__dropdown {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 850px) {
  .orders-filter__btns {
    display: flex;
    gap: 30px;
    width: 100%;
  }
}
.orders-filter__btn-search {
  padding: 15px 40px;
  height: 100%;
  background: #0D6CEA;
  color: #C9D4F3;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  margin-right: 20px;
}
@media screen and (max-width: 850px) {
  .orders-filter__btn-search {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.orders-filter__reset {
  padding: 15px 30px;
  height: 100%;
  background: #142540;
  color: #0D6CEA;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .orders-filter__reset {
    width: 100%;
  }
}

.dropdown {
  /* .dropdown__wrapper */
  /* .dropdown__btn */
  /* .dropdown__list */
  /* .dropdown__item */
  /* .dropdown__input-hidden */
}
.dropdown__btn._filter {
  width: 300px;
  padding: 18px 35px 18px 20px;
  height: 100%;
  background: #142540;
  color: #C9D4F3;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
}
@media screen and (max-width: 850px) {
  .dropdown__btn._filter {
    width: 100%;
  }
}
.dropdown__list._filter {
  width: 300px;
  background-color: #142540;
  box-shadow: 0px 4px 20px 0px #111E32;
}
@media screen and (max-width: 850px) {
  .dropdown__list._filter {
    width: 100%;
  }
}
.dropdown__item._filter {
  padding: 18px 20px;
  color: #C9D4F3;
}
.dropdown__item._filter:hover {
  background-color: #111E32;
}
.tasks {
  /* .tasks__items */
  /* .tasks__item */
  /* .tasks__item-status */
  /* .tasks__item-type */
  /* .tasks__datetime */
  /* .tasks__download */
  /* .tasks__item-number */
  /* .tasks__item-number-grid */
  /* .tasks__item-number-text */
  /* .tasks__item-status-title */
  /* .tasks__item-status-text */
  /* .tasks__item-type */
  /* .tasks__item-type-title */
  /* .tasks__item-type-text */
  /* .tasks__item-datetime */
  /* .tasks__item-datetime-title */
  /* .tasks__item-datetime-text */
  /* .tasks__item-download */
  /* .tasks__item-download-title */
  /* .tasks__item-download-text */
}
.tasks__items > *:not(:last-child) {
  margin-bottom: 15px;
}
.tasks__item {
  padding: 13px 25px;
  display: grid;
  grid-template-columns: 30% 45% 20% 5%;
  align-items: center;
  background-color: #142540;
  border-radius: 10px;
}
.tasks__item._title-item {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .tasks__item {
    padding: 0;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    width: 100%;
  }
  .tasks__item._hide-item {
    display: none;
  }
  .tasks__item > *:first-child {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 851px) {
  .tasks__item-status {
    justify-self: start;
  }
}
@media screen and (max-width: 850px) {
  .tasks__item-status {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #142540;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (max-width: 850px) {
  .tasks__item-type {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    background: #142540;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (min-width: 851px) {
  .tasks__item-number {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .tasks__item-number {
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: #142540;
  }
}
@media screen and (min-width: 851px) {
  .tasks__item-status-title {
    display: none;
  }
}
.tasks__item-status-text {
  border-radius: 5px;
  padding: 10px 15px;
}
.tasks__item-status-text._ready {
  color: #64FDDC;
  border: 2px solid #64FDDC;
}
.tasks__item-status-text._rejected {
  color: #FF1D30;
  border: 2px solid #FF1D30;
}
.tasks__item-status-text._consideration {
  color: #FF7C1D;
  border: 2px solid #FF7C1D;
}
@media screen and (min-width: 851px) {
  .tasks__item-type-title {
    display: none;
  }
}
.tasks__item-type-text > span {
  color: #64FDDC;
}
@media screen and (max-width: 850px) {
  .tasks__item-datetime {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    background: #142540;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (min-width: 851px) {
  .tasks__item-datetime-title {
    display: none;
  }
}
.tasks__item-download {
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #C9D4F3;
}
.tasks__item-download:hover {
  color: #64FDDC;
}
@media screen and (max-width: 850px) {
  .tasks__item-download {
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #142540;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #0A1930;
  }
}
@media screen and (min-width: 851px) {
  .tasks__item-download-title {
    display: none;
  }
}
.faq {
  /* .faq__container */
  /* .faq__title */
  /* .faq__spoilers */
  /* .faq__text */
}
.faq__title {
  margin-bottom: 50px;
}
.faq__spoilers {
  margin-bottom: 40px;
}
.faq__text {
  margin-bottom: 25px;
}
.faq__text > a {
  color: #64FDDC;
}
.faq__text > a:hover {
  text-decoration: underline;
}

.spoilers > *:not(:last-child) {
  margin-bottom: 30px;
}

.spollers {
  /* .spollers__item */
  /* .spollers__title */
  /* .spollers__body */
  /* .spollers__text */
}
.spollers__title {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  padding: 25px;
  background-color: #142540;
  border-radius: 15px;
}
.spollers__title::before, .spollers__title::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #C9D4F3;
  position: absolute;
  top: 50%;
  right: 25px;
  transition: transform 0.3s ease;
}
.spollers__title::after {
  transform: translateY(-50%) rotate(-90deg);
}
.spollers__title._spoller-active::after {
  transform: translateY(-50%) rotate(0deg);
}
.spollers__body {
  margin-top: 15px;
  padding: 25px;
  border-radius: 15px;
  background: #142540;
}
.spollers__body > *:not(:last-child) {
  margin-bottom: 15px;
}
.spollers__text > span {
  color: #64FDDC;
}

.payment-successful {
  /* .payment-successful__container */
  /* .payment-successful__body */
  /* .payment-successful__ico-successful */
  /* .payment-successful__text */
  /* .payment-successful__btn */
}
.payment-successful__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-successful__ico-successful {
  margin-bottom: 30px;
}
.payment-successful__text {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}
.payment-successful__btn {
  padding: 13px 50px;
  border-radius: 8px;
  background: #8694B1;
  color: #C9D4F3;
  transition: all 0.3s ease;
}
.payment-successful__btn:hover {
  background-color: #64FDDC;
  color: #0A1930;
}

.payment-failed {
  /* .payment-failed__container */
  /* .payment-failed__body */
  /* .payment-failed__ico-successful */
  /* .payment-failed__text */
  /* .payment-failed__btn */
}
.payment-failed__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-failed__ico-successful {
  margin-bottom: 30px;
}
.payment-failed__text {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}
.payment-failed__btn {
  padding: 13px 50px;
  border-radius: 8px;
  background: #8694B1;
  color: #C9D4F3;
  transition: all 0.3s ease;
}
.payment-failed__btn:hover {
  background-color: #64FDDC;
  color: #0A1930;
}/*# sourceMappingURL=main.css.map */