.couriers {

    /* .couriers__container */

    &__container {
    }

    /* .couriers__items */

    &__items {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }
    }

    /* .couriers__item */

    &__item {
        padding: 50px;
        display: grid;
        grid-auto-flow: row;
        grid-template: auto auto auto 50px / 1fr;
        border-radius: 30px;
        background-color: $dark-bg;
        @media screen and (max-width: 939px) {
            text-align: center;
        }
    }

    /* .couriers__item-company */

    &__item-company {
        display: flex;
        align-items: center;
        gap: 70px;
        margin-bottom: 50px;
        @media screen and (max-width: 1130px) {
            gap: 40px;
        }
        @media screen and (max-width: 939px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    /* .couriers__item-company-image */

    &__item-company-image {
        width: 125px;
        height: 83.333px;
        & > img {
            border-radius: 10px;
        }
    }

    /* .couriers__item-compeny-name */

    &__item-compeny-name {
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        color: $white;
        text-align: center;
    }

    /* .couriers__item-price */

    &__item-price {
        font-weight: 400;
        line-height: normal;
        color: $white;
        & > span {
            color: $active;
        }
        margin-bottom: 30px;
    }

    /* .couriers__item-texts */

    &__item-texts {
        font-weight: 400;
        line-height: normal;
        color: $not-active;
        & > *:not(:last-child) {
            margin-bottom: 15px;
        }
        margin-bottom: 40px;
    }

    /* .couriers__item-text */

    &__item-text {
    }

    /* .couriers__item-link */

    &__item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        color: $text;
        font-weight: 500;
        line-height: normal;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: $active;
            color: $main-color;
        }

        border-radius: 8px;  
    }
}
