.login {

    /* .login__container */

    &__container {
    }

    /* .login__title */

    &__title {
        margin-bottom: 50px;
        @media screen and (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    /* .login__box */

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }

    /* .login__form-auth */

    &__form-auth {
        display: flex;
        flex-direction: column;
        padding: 70px 50px;
        border-radius: 15px;
        background: $dark-bg;
        max-width: 490px;
        width: 100%;
        @media screen and (max-width: 510px) {
            padding: 50px;
            flex: 1 1 auto;
        }
        @media screen and (max-width: 414px) {
            padding: 50px 30px;
        }
    }

    /* .login__sign-up */

    &__sign-up {
        text-align: center;

        &>a {
            color: $active;
        }

        &>a:hover {
            text-decoration: underline;
        }
    }
}
