@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: $font-main;
    font-style: 16px;
    background-color: $main-color;
    color: $text;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea:focus {
    outline: none;
}

input[type=password] {
    padding: 13px 45px 13px 15px;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 15px;
}

._btn-header {
    border-radius: 5px;
    border: 2px solid $not-active;
    padding: 10px 25px;
    color: $not-active;
    transition: all 0.3s ease-in;

    &:hover {
        border: 2px solid $active;
        color: $main-color;
        background-color: $active;
    }
}

._btn-not-auth {
    border-radius: 5px;
    background: $not-active;
}

._title-1 {
    font-size: 54px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: $text;
    @media screen and (max-width: 768px) {
        font-size: 48px;
    }
    @media screen and (max-width: 480px) {
        font-size: 36px;
    }
}

._title-2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    color: $text;
}

._inverse-item {
    border-right: 0px none !important;
    border-left: 5px solid $active;
}

.none {
    display: none;
}