// Fonts
$font-main: 'Rubik', sans-serif;

// Colors
$main-color: #0A1930;
$dark-bg: #142540;
$white: #fff;
$text: #C9D4F3;
$not-active: #8694B1;
$active: #64FDDC;
$warning: #FF1D30;
$blue: #668EFF;
$blue-hover: #456fe4;
$orange: #FF7C1D;
$green: #27EC67;

// Burger
$time: 0.1s;
$width: 20px;
$height: 20px;
$line-height: 1px;
$solid: 3px;